
@model List<TraineeWithcrsResultSuccesssOrFail>
@{
    ViewData["Title"] = "ShowTraineeResult";
}

<h1>Show Trainee Result</h1>



<table class="table table-bordered table-hover">
    <tr style="font-size:30px">
        <th>Trainee Name</th>
        <th>Course Name</th>
        <th>Degree</th>
    </tr>

    @foreach (var trainee in Model)
    {
        <tr style="font-size:30px; color: @trainee.Color">
            <td>@trainee.TrnName</td>
            <td>@trainee.CrsName</td>
            <td>@trainee.Degree</td>
        </tr>
    }
</table>

